

<div id="Gift">
    <div class="hex-row">
        <div class="hex ore"><div class="token">5</div></div>
        <div class="hex wool"><div class="token red">6</div></div>
        <div class="hex brick"><div class="token">5</div></div>
        <div class="hex grain"><div class="token red">8</div></div>
    </div>
    <div class="hex-row shift-1">
        <div class="hex ore"><div class="token red">6</div></div>
        <div class="hex brick"><div class="token">4</div></div>
        <div class="hex grain"><div class="token">9</div></div>
        <div class="hex wool"><div class="token">10</div></div>
        <div class="hex lumber"><div class="token">11</div></div>
    </div>
    <div class="hex-row shift-2">
        <div class="hex wool"><div class="token">3</div></div>
        <div class="hex lumber"><div class="token">9</div></div>
        <div class="hex wool"><div class="token">11</div></div>
        <div class="hex ore"><div class="token">3</div></div>
        <div class="hex lumber"><div class="token red">8</div></div>
        <div class="hex ore"><div class="token">4</div></div>
    </div>
    <div class="hex-row shift-3">
        <div class="hex grain"><div class="token">10</div></div>
        <div class="hex lumber"><div class="token">12</div></div>
        <div class="hex brick"><div class="token">3</div></div>
        <div class="hex grain"><div class="token">10</div></div>
        <div class="hex brick"><div class="token">4</div></div>
        <div class="hex ore"><div class="token">2</div></div>
    </div>
</div>